.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 45px;
  width: 960px;
}
.column {
  display: inline-block;
  width: 50%;
  vertical-align: text-top;
}
.column-left {
  width: 100%%;
  margin-right: 25px;
}
.column-right {
  width: 100%%;
  margin-left: 25px;
}
h4 {
  color: #999;
  text-align: center;
  border: 2px solid #ccc;
  margin: 0px;
  padding: 4px;
  font-size: 16px;
}
td {
  width: 400px;
}
.view {
  margin-top: 0px;
  margin-bottom: 20px;
}
input {
  font-size: 12px;
  width: 100%;
  height: 30px;
}
input.shortfield {
  padding: 1px;
  height: 28px;
  width: 30%;
}
nav {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
.login {
  float: right;
  margin-top: 10px;
}
button {
  margin: 0px !important
  height: 28px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
button.formChoice {
  margin-top: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  border: 2px solid #ccc;
  background-color: #5cb85c;
  height: 32px;
  border-radius: 4px;
}
button.formConfirm {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  border: 2px solid #ccc;
  background-color: #337ab7;
  height: 32px;
  border-radius: 4px;
}
ol, ul {
  list-style: none;
}
ul, li {
  margin: 0;
  padding: 0;
}
label {
  margin-top: 2px;
  margin-bottom: 2px;
}
.errorView {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: red;
  height: 6px;
}

.portal-btn {
  display: inline-block;
}

.first-btn {
  margin-left: 25px;
}

/*About Us*/
.about-us-container {
  font-size: 16px;
}

.profile-image {
  width: 80%;
  height: auto;
  border-radius: 4px;
}

.profile-name {
  margin-top: 10px;
  color: rgb(90, 82, 82);
  font-size: 16px;
}

.about-us-nav {
  float: none;
  text-align: center;
  display: inline-block;
  font-size: 22px;
}

.attribution {
  margin-top: 40px;
}

.divider {
  max-width: 50px;
  border-color: #ccc;
  border-width: 3px;
}

.heading {
  color: #777;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.hljs {
  background-color: #f5f5f5;
}

.column.feat-column {
    float: left;
    display: flex;
    padding: 15px;
}

.img-icon {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 65px;
    padding-right:15px;
}

.social {
  display: inline-block !important;
}

.thumbnail {
  border: none;
}
