#supportal-slide {
  position: fixed;
  left: 50px;
  width: 300px;
  padding: 0px 10px;
}

#supportal-init-button {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.supportal-slide-up {
  bottom: 0px;
  transition: bottom 0.2s ease-in;
  -ms-transition: bottom 0.2s ease-in;
  -moz-transition: bottom 0.2s ease-in;
  -webkit-transition: bottom 0.2s ease-in;
}

.supportal-slide-down {
  bottom: -400px;
  transition: bottom 0.2s ease-in;
  -ms-transition: bottom 0.2s ease-in;
  -moz-transition: bottom 0.2s ease-in;
  -webkit-transition: bottom 0.2s ease-in;
}

#supportal-window {
  position: relative;
  width: auto;
  height: 400px;
  padding: 10px;
  display: block;
  background-color: white;
  border: 1.5px solid #ccc;
  border-radius: 0 4px 4px 4px;
}

#supportal-local-video {
  width: 25%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#supportal-remote-video {
  width: 100%;
  position: relative;
}

#supportal-disconnect-button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background-color: transparent;
  z-index: 100;
  width: 10px;
  height: 10px;
}

#supportal-message-log {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100%;
  height: 135px;
  overflow: auto;
  overflow-y: scroll;
}

#supportal-form-question {
  height: 100px;
}

.supportal-message-container {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.glyphicon.glyphicon-remove {
  font-size: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}

#supportal-thank-you {
  border: 1.5px solid #ccc;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  background-color: #ccc;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;

}
